body{
  width:100%;
  height:100%;
}

#header{
  /*z-index: 1;*/
  height: 18%;
}
#video-header{
  position: relative;
  height:18%;
  width:100%;
  float:left;
}

.formulario-header{
  position:absolute;
  float:left;
  width:40%;
  height:13%;
  left: 60%;
  margin-top: 8%;
}
form{
  padding-top: 10%;
  background-color: #FFF;


}

#seccion-header{
 /*position: relative;*/
 bottom: 5px;
 /*z-index: -1;*/
 background-image: linear-gradient(to bottom, #6b1d86, #6b1d86 60%, #2e1e67);
 width: 100%;
 height: 16.5%;
}
.contenedor-Parrafos{
 position: relative;
 width: 50%;
 height: 850px;
 margin-left:10%;
 padding-top: 10%;
 padding-bottom: 30%;
 float: left;
 color: white;
}
 .contenedor-Parrafos p{
 color: white;
 width: 100%;
 font-size: 1.3em;
 font-stretch: ultra-condensed;
 font-family: 'Roboto', sans-serif;
 margin-bottom: 10%;

}
.contenedor-Parrafos h3{
  font-family: Helvetica;
  font-size: 25px;
  padding-right: 10%;

}
.ultimoParrafoHeader{
  padding-bottom: 20%;
}
 .contenedor-phone{
 position: relative;
 width: 50%;
 height: 1000px;
 margin-top: 10%;
 margin-left: 50%;
 padding-top: 30%;
}

 .fotoPhone{
 padding-top: 100px;
 height: 400px;
}

/*.complementoFormulario{
  position:absolute;
  display:block;
  width:100%;
  background-color: red;
  float:left;
  z-index: 1;
  top:8%;
  height:120px;
  background: linear-gradient(to bottom, #6b1d86, #6b1d86 90%, #2e1e67);
}*/
#tituloForm{
  color: #6f268b;
  font-family: 'Helvetica';
  font-size: 3em;
  margin-left:13%;
  padding-top: 0;
  margin-top: -5%;
}
#tituloFormDos{
  color:#6f268b;
  font-family:'Helvetica';
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  margin-left: 13%;
}
.inputFormulario{
 margin-left: 13%;
 border: none;
 text-decoration: underline;
 border-bottom: 1px solid #000;
 width: 80%;
 padding-top: 8%;
}
.inputPequeño{
  width:40%;
}
.inputPequeñoDos{
  width:25%;
}
#linkPromo{
  margin-left: 5%;
  color: 	#D3D3D3;
  padding-bottom: 2%;
}

#linkPromo:hover{
  color:#ff00bf;
}
.areaBoton{
  position:relative;
  width:40%;
  margin-left: 13%;
  margin-top: 10%;
  display: inline;
  padding-top: 5%;
  padding-right: 5%;
}

.acuerdosFormularios{
  margin-top: 5%;
  display:inline-block;
  padding-bottom: 5%;
}
.acuerdosFormulariosDos{
  margin-top: 2%;
  display:inline-block;
  padding-bottom: 2%;
}
.parrafoDos{
  color:  	#D3D3D3;
}
.linkDos{
  color:#ff00bf;
}
.boton{
  margin-left: 13%;
}
