body{
  width:100%;
  height:100%;
}

#video-header{
  position: relative;
  height:16.5%;
  width:100%;
  float:left;
}

.formulario-header{
  position:absolute;
  float:left;
  width:40%;
  height:13%;
  left: 60%;
  margin-top: 8%;
}
form{
  padding-top: 10%;
  background-color: #FFF;


}
#seccion-header{
 background-color: #6f268b;
 padding-top: 0;
 width: 100%;
 height: 16.5%;
}
.contenedor-Parrafos{
 position: relative;
 width: 50%
 height: 16.5%;
 margin-left:10%;
 padding-top: 5%;
 float: left;
 color: white;
}
 .contenedor-Parrafos p{
 color: white;
 margin-bottom: 10%
}
 .contenedor-phone{
 position: relative;
 width: 50%;
 height: 16.5%;
 margin-left: 50%;
 padding-top: 5%;}.fotoPhone{
 height: 400px;
}
#tituloForm{
  color: #6f268b;
  font-family: 'Helvetica';
  font-size: 3em;
  margin-left:13%;
  padding-top: 0;
  margin-top: -5%;
}
#tituloFormDos{
  color:#6f268b;
  font-family:'Helvetica';
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  margin-left: 13%;
}
.inputFormulario{
 margin-left: 13%;
 border: none;
 text-decoration: underline;
 border-bottom: 1px solid #000;
 width: 80%;
 padding-top: 8%;
}
.inputPequeño{
  width:40%;
}
.inputPequeñoDos{
  width:25%;
}
#linkPromo{
  margin-left: 5%;
  color: 	#D3D3D3;
  padding-bottom: 2%;
}

#linkPromo:hover{
  color:#ff00bf;
}
.areaBoton{
  position:relative;
  width:40%;
  margin-left: 13%;
  margin-top: 10%;
  display: inline;
  padding-top: 5%;
  padding-right: 5%;
}

.acuerdosFormularios{
  margin-top: 5%;
  display:inline-block;
  padding-bottom: 5%;
}
.acuerdosFormulariosDos{
  margin-top: 2%;
  display:inline-block;
  padding-bottom: 2%;
}
.parrafoDos{
  color:  	#D3D3D3;
}
.linkDos{
  color:#ff00bf;
}
.boton{
  margin-left: 13%;
}
