#nav {
  width: 100%;
  height: 112px;
  position: fixed;
  z-index: 1;
  background-color: transparent;
  float: left;
}

#sign{
  visibility: hidden;
  color: #FF006F;
  border-color: #FF006F;
}

nav .logoNav {
  width: 64px;
  float: left;
  position: absolute;
  top: 30%;
  left: 7%;
}

nav .navLista {
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.navFloat {
  float: right;
  padding: .75rem 1.25rem;
  margin-top: 35px;
  margin-left: 10px;
  font-size: 1.125rem;
  font-family: Helvetica, sans-serif;
  color: white;
}

.navLista:hover {
  color: #FF006F;
}

.bordeElementoNav {
  border: 1px solid white;
  border-radius: 10%;
  padding: .75rem .75rem;
  margin-right: 15px;
  clear: left;
}
 .cambiarColor li {
   color: black;
 }
