*{
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

#video{
  width: 100%;
  height: 46.625%;
  position: relative;
}

.contenedorTextoImagenVideos{
  width: 100%;
  height: 33.33%;

}

.contenedorTextoVideos {
  width: 30%;
  height: 100%;
  float: left;
  padding: 0;
  position: absolute;
}

.h3Videos {
  font-size: .8em;
  font-family: Helvetica;
  text-align: left;
}

.h2Videos {
  font-size: 1em;
  font-family: Helvetica;
  text-align: left;
}

.pVideos {
  font-size: .8em;
  font-family: Helvetica;
  text-align: justify;
}

.contenedorImagenesVideos {
  width: 70%;
  height: 100%;
  float: left;

}

.imagenVideos {
  width: 100%;
}
