#footerEnding{
  height: 16.625%;
  background-color: #333447;
  position:relative;
}
.listNum1{
  width:122.234;
  height: 405;
  margin-bottom: 64px;
}
.classList{
  width: 122.234;
  height: 17px;
  margin-bottom: 24px;
}
